@tailwind base;
@tailwind components;
@tailwind utilities;

/* APP */

.app-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    font-size: 18px;
}

/* LOGO */
.logo-wrapper {
    position: relative;
    cursor: pointer;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
    border-radius: 1000px;
}

.logo-content {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 3s cubic-bezier(0.175, 0.885, 0.2, 1.4);
    background: #fff;
}

.bee-behind-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.logo-wrapper:hover .logo-content {
    transform: translate(160%, -50%) rotate(360deg);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* NAVBAR */
.nav-item {
    position: relative;
    cursor: pointer;
    perspective: 200px;
    padding: 30px;
    min-width: 130px;
}

.nav-item:first-child,
.nav-item:last-child {
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

.nav-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s linear;
    background: #fff;
}

.nav-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 5px;
    font-weight: 500;
}

.nav-item:first-child:hover .nav-item-content {
    transform: translateX(-50%) rotateY(25deg) rotateZ(-10deg);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-item:last-child:hover .nav-item-content {
    transform: translateX(-50%) rotateY(-25deg) rotateZ(10deg);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-item:hover .nav-item-content {
    /* transform: translateY(-50%) translateX(-50%) rotateY(25deg) rotateZ(-10deg); */
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-item:hover .nav-item-content .nav-item-text {
    background: #047044;
    color: #fff;
    transition: all 0.4s ease-in-out;
    transform: translateY(-10px) translateX(10px);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-item:first-child:hover .nav-item-content .nav-item-text {
    background: #047044;
    color: #fff;
    transform: translateY(-12px) translateX(-20px);
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-item:last-child:hover .nav-item-content .nav-item-text {
    background: #047044;
    color: #fff;
    padding: 12px;
    transform: translateY(-12px) translateX(20px);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

/* GALLERY */

.gallery-wrapper {
    position: relative;
    min-height: 320px;
    perspective: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px inset; */
}

.gallery-content {
    /* border: 1px solid #000; */
    position: absolute;
    width: 60%;
    height: 100%;

    transition: all 0.25s linear;
}

.gallery-content--hover-left {
    transform: rotateY(-25deg) rotateZ(-4deg);
}

.gallery-content--hover-right {
    transform: rotateY(25deg) rotateZ(4deg);
}

.galleryItem-wrapper {
    /* background: rgba(243, 243, 239, 1); */
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
}

.galleryItem {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryItem > img {
    transform: scale(1.4);
}

.galleryItem--hover-right {
    background: #047044;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-70%, -50%) rotateY(10deg) rotateZ(5deg) scale(1.5);
}

.galleryItem--hover-left {
    background: #047044;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-30%, -50%) rotateY(-10deg) rotateZ(-5deg) scale(1.5);
}

/* BUTTON */

.button-wrapper {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-wrapper--primary {
    position: relative;
    min-width: 135px;
    min-height: 48px;
}

.button-content--primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #047044;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 1000px;
    transition: inherit;
}

.button-text--primary {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: inherit;
    border-radius: inherit;
}

.button-wrapper--primary:hover .button-content--primary {
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.button-wrapper--primary:hover .button-content--primary {
    background: #fff;
}

.button-wrapper--primary:hover .button-content--primary .button-text--primary {
    background: #047044;
    color: #fff;
    transition: all 0.4s ease-in-out;
    transform: translate(-40%, -70%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* SOCIAL */

.social-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #047044;
}

.social-item-content {
    position: absolute;
    z-index: 10;
}

.social-item::after {
    content: "";
    position: absolute;
    top: 50px;
    left: -100px;
    width: 100%;
    height: 100%;
    background: #047044;
    border-radius: inherit;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 0;
}

.social-item::before {
    content: "";
    position: absolute;
    top: -100%;
    right: -50%;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: inherit;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition-delay: 0.2s;
    z-index: 1;
}

.social-item:hover::after {
    top: 0;
    left: 0;
}

.social-item:hover::before {
    top: -10%;
    left: 20%;
}

/* HIGHLIGHT */

.highlight-animation {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.highlight-animation::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -150%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background: #047044;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.highlight-animation:hover::before {
    left: 0;
}

.highlight-animation:hover .highlight-animation-content {
    transition: all 0.2s linear;
    transition-delay: 0.1s;
    color: #fff;
}
